:root {
    --branco-principal: #FFFFFF;
    --cinza-secundario: #C0C0C0;
    --botao-azul: #167BF7;
    --botao-azul-click:#0942E0;
    --cor-de-fundo: #00030C;
    --font-principal: 'Inter';
}

body {
    background-color: var(--cor-de-fundo);
    color: var(--branco-principal);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}

* {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.principal {
    background-image: url(./img/Background.png);
    background-repeat: no-repeat;
    background-size: contain;
    align-items: center;
    text-align: center;
}

.container__caixa {
    margin: 0 6rem;
}

.container__titulo {
    font-size: 2rem;
    font-weight: 700;
}

.container__imagem {
    margin: 1rem 0 2rem 0;
}

.container__botao {
    display: block;
    background-color: var(--botao-azul);
    color: var(--branco-principal);
    text-decoration: none;
    border-radius: 8px;
    padding: 1rem;
    margin-bottom: 0.7rem;
    position: relative;
    overflow: hidden;
    z-index: 99;
}

.container__botao:hover {
    color: var(--cor-de-fundo);
    transition: .7s;
}

.botao-secundario {
    background-color: transparent;
    border: 2px solid var(--branco-principal);
}

.container__botao::before{
    content: '';
    width: 100%;
    height: 100%;

    top: 0;
    left: 0;

    position: absolute;

    background-color: var(--botao-azul);

    transition: all .7s ease-in-out;
    z-index: -1;
}

.botao-secundario::before {
    width: 0%;
    height: 100%;
    
    left: 0;
    top: 0;

    border-radius: 0 20px 20px 0;
}

.botao-secundario:hover::before {
    width: 120%;
}

.container__aviso {
    font-size: 0.75rem;
    color: var(--cinza-secundario);
}

.secundario {
    align-items: center;
    margin: 0 6rem;
}

.secundario__imagem {
    width: 80%;
    padding-left: 4rem;
}

.descricao__titulo {
    font-weight: 700;
    font-size: 48px;
    color: var(--branco-principal);
    margin-bottom: 0.5rem;
}

.descricao__texto {
    color: var(--cinza-secundario);
}

.secundario__botao {
    display: inline-block;
    margin-top: 1rem;
}

.container__descricao {
    padding: 1rem;
}

.dispositivos {
    text-align: center;
}

.dispositivos__lista {
    display: flex;
    justify-content: center;
    gap: 60px;
    margin: 3rem 0;
    list-style-type: none;
}

.dispositivos__titulo {
    font-size: 48px;
    color: var(--branco-principal);
}

.lista__item {
    font-size: 32px;
    color: var(--branco-principal);
}

.rodape {
    text-align: center;
    padding: 5rem 5rem 2rem 5rem;
}

.rodape__logo {
    margin-bottom: 2.5rem;
}

.rodape__lista {
    display: flex;
    gap: 1rem;
    list-style-type: none;
    justify-content: center;
    font-size: 14px;
    margin-bottom: 1.3rem;
}

.lista__link a {
    text-decoration: none;
    color: var(--branco-principal);
}

.lista__link a:hover {
    color: var(--botao-azul);
    transition: .2s;
}

.lista__link a:active {
    color: var(--botao-azul-click);
}

.rodape__texto {
    color: var(--cinza-secundario);
    font-size: 14px;
    margin: 0 6rem;
    margin-bottom: 1.3rem;
}
